.footer {
    color: #f6e0a4;
    background-color: rgb(34, 34, 34);
    background: linear-gradient(0deg, rgba(34,33,33,1) 0%, rgba(64,60,60,1) 100%);
    position: absolute;
    margin-top: 3rem;
    /* bottom: 0; */
    min-width: 100vw;
    max-width: 100vw;
    /* display: flex; */
    justify-content: center;
}

.footer p {
    padding: 0.5rem;
    /* text-align: center; */
    /* display: block; */
    font-size: 16px;

}

.linkWrapper {
    /* text-align: center; */
    /* background-color: rgb(48, 71, 71); */
    padding: 0.5rem;

}



.facebookLogoWrapper,
.instagramLogoWrapper {
    display: inline-block;
    height: 20px;
    width: 20px;
    position: relative;
    top: 2px;
    /* opacity: 1; */
}

a {
    text-decoration: none;
}

.spanLink {
    color: #f6e0a4;
    text-decoration: none;
    padding-left: 0.5rem;
    font-size: 16px;
}

.copyright {
    margin: 1rem;
    text-align: center;
}

