.footer {
    color: #f6e0a4;
    background-color: rgb(34, 34, 34);
    background: linear-gradient(0deg, rgba(34,33,33,1) 0%, rgba(50,50,50,1) 100%);
    height: 19rem;
    position: absolute;
    bottom: 0;

    margin-top: 3rem;
    padding-top: 1.5rem;
    min-width: 100vw;
    max-width: 100vw;
    /* display: flex; */
    justify-content: center;
}

.footer p {
    padding: 0.5rem;
    /* text-align: center; */
    /* display: block; */
    font-size: 16px;

}

.linkWrapper {
    /* text-align: center; */
    /* background-color: rgb(48, 71, 71); */
    padding: 0.75rem 1rem;

}



.facebookLogoWrapper,
.instagramLogoWrapper,
.emailLogoWrapper {
    display: inline-block;
    height: 20px;
    width: 20px;
    position: relative;
    top: 2px;
    /* opacity: 1; */
}

.locationLogoWrapper {
    display: inline-block;
    height: 16px;
    width: 16px;
    position: relative;
    top: 4px;
}

a {
    text-decoration: none;
}

.spanLink {
    color: #f6e0a4;
    text-decoration: none;
    padding-left: 0.5rem;
    font-size: 16px;
}

.copyright {
    margin: 2rem 0rem 0rem 0rem;
    text-align: center;
    opacity: 0.3;
}

