.hero {
    background-image: url(../assets/hero.jpg);
    background-position: center top;
    width: 100vw;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
}

div.hem {
    max-width: 100vw;
}


div.hem h1 {
    padding: 1rem;
    text-align: center;
    color: #f6e0a4;
    font-size: 1.6rem;
}

div.hem p {
    padding: 0rem 1.5rem;
    text-align: justify;
    line-height: 1.5;
}

.facebookLogoWrapper {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 1rem;
}

.instagramLogoWrapper {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 1rem;
}

img {
    max-width: 100%;
}

div.socialmedia {
    text-align: center;
    margin-top: 2rem;
    color: #f6e0a4;
}

div.socialmedia h2 {
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    font-size: 1rem;
}

div.socialmedia p {
    margin: 2rem 0rem;
    color: whitesmoke;
}

div.socialmedia p a {
    color: #f6e0a4;
}

