div.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 34, 34);
    width: 100vw;
    height: 70px;
    position: sticky;
    top: 0;
    /* z-index: 10; */
}

.ul {
    /* display: none; */
    display: flex;
    background-color: rgba(34, 34, 34, 0.849);
    padding: 1rem;
    list-style: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    align-items: center;

    transform: translateY(-150%);
    opacity: 0;
    transition: all 0.75s ease-in;
    z-index: -1;
}

.li {
    padding: 1rem;
}

.li a {
    color: #f6e0a4;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;

    opacity: 0;
    transition: all 0.15s ease-in;
}

div.glmtLogoWrapper {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-left: 0.5rem;
    padding: 0.4rem;
}

div.glmtLogoWrapper img {
    width: 100%;
}

.navToggleLabel {
    /* display: flex; */
    /* border: 1px solid red; */
    height: 100%;
    margin-right: 1.5rem;
    margin-top: 30px;
    cursor: pointer;
}

.navToggleLabel div {
    background-color: #f6e0a4;
    width: 30px;
    height: 3px;
    margin: 8px 0px 0px 0px;
    border-radius: 5px;
}

/* The "checkbox" aka the burger */
.navToggle {
    display: none;
}
.navToggle:checked ~ ul {
    display: flex;
    transform: translateY(0%);
    opacity: 1;
}

.navToggle:checked ~ ul > .li a {
    opacity: 1;
    
    
    transition: all 0.75s ease-in;
    transition-delay: 0.5s;
}