div.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 34, 34);
    width: 100vw;
    height: 70px;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);

}

.ul {
    display: flex;
    background-color: rgba(34, 34, 34, 0.849);
    /* padding: 1rem; */
    list-style: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    align-items: center;
    transform: translateY(-150%);
    opacity: 0;
    transition: all 0.75s ease-in;
    z-index: -1;
}

.li {
    padding: 1rem;
}

.li a {
    color: #f6e0a4;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    opacity: 0;
    transition: all 0.15s ease-in;
}

div.glmtLogoWrapper {
    display: inline-block;
    height: 45px;
    width: 45px;
    margin-left: 1rem;
}

div.glmtLogoWrapper img {
    width: 90%;
}

/* The burger */
.navToggleLabel {
    height: 100%;
    margin-right: 1rem;
    margin-top: 30px;
    cursor: pointer;
}

.navToggleLabel div {
    background-color: #f6e0a4;
    width: 30px;
    height: 2px;
    margin: 8px 0px 0px 0px;
    border-radius: 5px;
}

/* The invinsible "checkbox" */
.navToggle {
    display: none;
}
.navToggle:checked ~ ul {
    display: flex;
    transform: translateY(0%);
    opacity: 1;
}

.navToggle:checked ~ ul > span > .li a {
    opacity: 1;
    transition: all 0.75s ease-in;
    transition-delay: 0.5s;
}

@media screen and (min-width: 769px) {
    .ul {
        display: flex;
        padding: 0rem;
        flex-direction: row;
        justify-content: flex-end;
        position: absolute;
        top: 7px;
        /* right: 1.5rem; */

        transform: translateY(0%);
        transition: all 0s ease-in;
        opacity: 1;
    
    }

    .li {
        padding: 1rem 1.5rem;
    }

    .li a {
        opacity: 1;
    }

    .navToggleLabel {
        display: none;
    }

    .hemLine:after {
        content: '';
        color: #f6e0a4;
        position: absolute;
        margin: 0rem 22px;
        top: 30px;
        display: inline-block;
        height: 1rem;
        width: 40px;
        border-bottom: 1px solid;
        opacity: 0;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.5s, transform 0.5s;
          -webkit-transform: scale(0,1);
          transform: scale(0,1);
    }

    .träningLine:after {
        content: '';
        color: #f6e0a4;
        position: absolute;
        margin: 0rem 20px;
        top: 30px;
        display: inline-block;
        height: 1rem;
        width: 80px;
        border-bottom: 1px solid;
        opacity: 0;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.5s, transform 0.5s;
          -webkit-transform: scale(0,1);
          transform: scale(0,1);
    }

    .omOssLine:after {
        content: '';
        color: #f6e0a4;
        position: absolute;
        margin: 0rem 20px;
        top: 30px;
        display: inline-block;
        height: 1rem;
        width: 73px;
        border-bottom: 1px solid;
        opacity: 0;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.5s, transform 0.5s;
          -webkit-transform: scale(0,1);
          transform: scale(0,1);
    }

    .kontaktLine:after {
        content: '';
        color: #f6e0a4;
        position: absolute;
        margin: 0rem 20px;
        top: 30px;
        display: inline-block;
        height: 1rem;
        width: 80px;
        border-bottom: 1px solid;
        opacity: 0;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.5s, transform 0.5s;
          -webkit-transform: scale(0,1);
          transform: scale(0,1);
    }
    



    .hemLine:hover:after,
    .träningLine:hover:after,
    .omOssLine:hover:after,
    .kontaktLine:hover:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }


}