div.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(34, 34, 34);
    max-width: 100vw;
    height: 70px;

}

.ul {
    display: flex;
    padding: 1rem;
    list-style: none;
    flex-direction: row;
}

.li a {
    padding: 1.5rem;
    color: #f6e0a4;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

div.glmtLogoWrapper {
    display: inline-block;
    height: 60px;
    width: 60px;
    /* margin: 0.75rem; */
    padding: 0.4rem;
}

div.glmtLogoWrapper img {
    width: 100%;
}

.burger div {
    width: 30px;
    height: 2px;
    margin: 7px;
    background-color: #f6e0a4;
}