div.navbar {
    display: flex;
    background-color: rgb(34, 34, 34);
    max-width: 100vw;

}

.ul {
    display: flex;
    padding: 1rem;
    list-style: none;
    flex-direction: row;
}

.li a {
    padding: 1rem;
    color: #f6e0a4;
    text-decoration: none;
}

div.glmtLogoWrapper {
    display: inline-block;
    height: 64px;
    width: 64px;
    /* margin: 0.75rem; */
    padding: 0.5rem;
}